body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXUeJMyxnCxGq9W6pHX5wmhZ8irrfjUQVYOg&s");
    background-repeat: no-repeat;
    background-size: cover;
    
}
p {
    text-align: left;
    color: black;
    font-size: 16pt;
    transition: transform 0.3s ease;
}
p:hover {
    transform: scale(0.9);
    animation: swap-color 3s;
}
h1 {
    text-align: center;
    color: black;
}
h2 {
    text-align: center;
    color: brown;
    animation: text-pulsing 2s infinite;
}
hr {
  border-top: 2px solid brown;
  margin: 20px 0;
}
table {
    margin: auto;
    border-collapse: collapse;
    transition: transform 0.3s ease;
}
table:hover {
  transform: scale(1.1);
}
td, th {
  border: 3px solid black;
  padding: 16px;
  text-align: center;
}
img {
    width: 400px;
    height: 300px;
    display: block; 
    margin: 0 auto;
    border: 2px solid brown;
    transition: transform 2s ease;
    margin-top: 30px;
}
img:hover {
  transform: scale(1.2);
}
.my-text {
    text-align: center;
    color: black;
    font-size: 20pt;
}

@keyframes text-pulsing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes swap-color {
  0% {
    color: rgb(0, 0, 0);
  }
  50% {
    color: brown;
  }
  100% {
    color: rgb(0, 0, 0);
  }
}
